name: "build-deploy"
on:
  # push:
  #   branches:
  #     - "main"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  build-image:
    uses: ./.github/workflows/build-image.yml
    secrets:
      # 例. projects/<プロジェクト番号>/locations/global/workloadIdentityPools/<プールID>/providers/github
      # projects/999999999999/locations/global/workloadIdentityPools/my-pool-id/providers/github
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }} # 例. "deploy@example.iam.gserviceaccount.com"
      IMAGE_TAG_BASE: ${{ secrets.IMAGE_TAG_BASE }} # 例. プロジェクトID/artifact_registry名/イメージ名

  deploy-to-cloud-run:
    uses: ./.github/workflows/deploy-to-cloud-run.yml
    needs: build-image
    secrets:
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
      RUN_SERVICE_ACCOUNT: ${{ secrets.RUN_SERVICE_ACCOUNT }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      IMAGE_TAG_BASE: ${{ secrets.IMAGE_TAG_BASE }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
